
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url("../img/header.jpg");
    background-size: cover;
    background-position: 50% 90%;
}

.container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    height: 100vh;
    width: 100vw;
    margin: 0rem;
    padding: 0rem;

}

.check-weather
{
    position: absolute;
    top: 1.5rem;
    right: calc(50% - 8rem);
    z-index: 4;
}


.check-weather__city {
    height: 3.2rem;
    width: 13rem;
    font-size: 1.5rem;
    border:  solid rgba(193,193,193,0.3);
    border-width: 2px 0px 2px 2px;
    padding: 0.5rem;
    border-radius: 2px;
}

.check-weather__button {
    margin: 0rem;
    padding: 0.7rem;
    background-color: #2C84CB;
    font-size: 1.5rem;
    border: solid rgba(193,193,193,0.3);
    border-width: 2px 2px 2px 2px;
    border-radius: 2px;



}

#map-container {
height: calc(100% - 2rem);
width: calc(100% - 2rem);
    z-index: 1;
    margin: 1rem;
    border: 1px solid #2C84CB;

}

.leaflet-popup-content-wrapper {
    text-align: left;
}


.popup {
    font-size: 0.8rem;


}
.popup--title {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;

}

.popup--subtitle
{

    font-weight: 600;
    text-transform: capitalize;


}

.popup--info {

}